<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_RememberMe>
			<version>0.1.0</version>
		</Pixafy_RememberMe>
	</modules>
	<frontend>
		<layout>
			<updates>
				<rememberme>
					<file>rememberme.xml</file>
				</rememberme>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<rememberme>
                <class>Pixafy_RememberMe_Block</class>
            </rememberme>
		</blocks>
		 <models>
            <rememberme>
                <class>Pixafy_RememberMe_Model</class>
            </rememberme>
			<core>
              <rewrite>
                  <cookie>Pixafy_RememberMe_Model_Cookie</cookie>
              </rewrite>
          </core>
		</models>
		 <events>
		      <customer_login>
                <observers>
                    <rememberme_login>
                        <type>singleton</type>
                        <class>rememberme/observer</class>
                        <method>loginCheck</method>
                    </rememberme_login>
                </observers>
           </customer_login>
           <customer_logout>
				 <observers>
                    <rememberme_logout>
                        <type>singleton</type>
                        <class>rememberme/observer</class>
                        <method>removeRemember</method>
                    </rememberme_logout>
				</observers>
           </customer_logout>
		</events>		
	</global>
</config>
