<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_Bevel>
			<version>1.6.0</version>
		</Pixafy_Bevel>
	</modules>
	<frontend>
		<routers>
			<pixafy_bevel>
				<use>standard</use>
				<args>
					<module>Pixafy_Bevel</module>
					<frontName>bevellogin</frontName>
				</args>
			</pixafy_bevel>
		</routers>
	</frontend>
	<global>
		 <models>
            <bevel>
                <class>Pixafy_Bevel_Model</class>
            </bevel>
		</models>
		<blocks>
            <bevel>
				<class>Pixafy_Bevel_Block</class>
            </bevel>
			<customer>
				<rewrite>
					<form_login>Pixafy_Bevel_Block_Customer_Form_Login</form_login>
				</rewrite>
				<rewrite>
					<form_register>Pixafy_Bevel_Block_Customer_Form_Register</form_register>
				</rewrite>
			</customer>
			<catalog>
				<rewrite>
					<product_view>Pixafy_Bevel_Block_Product_View</product_view>
				</rewrite>
				<rewrite>
					<product_list>Pixafy_Bevel_Block_Product_List</product_list>
				</rewrite>
			</catalog>
        </blocks>
		<helpers>
            <bevel>
				<class>Pixafy_Bevel_Helper</class>
			</bevel>
        </helpers>
			<resources>
            <bevel_setup>
                <setup>
					<class>Mage_Eav_Model_Entity_Setup</class>
                    <module>Pixafy_Bevel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bevel_setup>
            <bevel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bevel_write>
            <bevel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bevel_read>

        </resources>
		<!--
				<rewrite>
            <pixafy_bevel_customer_account>
                <from><![CDATA[#^/customer/account/#]]></from>
                <to>/bevel/customer/account/</to>
            </pixafy_bevel_customer_account>
        </rewrite>
		-->
		<rewrite>
			<pixafy_bevel_account_loginPost>
				<from><![CDATA[#^/customer/account/loginPost/#]]></from>
				<to>/bevellogin/account/loginPost/</to>
			</pixafy_bevel_account_loginPost>
         </rewrite>
		 <rewrite>
			<pixafy_bevel_cart_add>
				<from><![CDATA[#^/checkout/cart/add/#]]></from>
				<to>/bevellogin/cart/add/</to>
			</pixafy_bevel_cart_add>
			<pixafy_bevel_cart_delete>
				<from><![CDATA[#^/checkout/cart/delete/#]]></from>
				<to>/bevellogin/cart/delete/</to>
			</pixafy_bevel_cart_delete>
			<pixafy_bevel_cart_update>
				<from><![CDATA[#^/checkout/cart/updateItemOptions/#]]></from>
				<to>/bevellogin/cart/updateItemOptions/</to>
			</pixafy_bevel_cart_update>
			<pixafy_bevel_cart_couponPost>
				<from><![CDATA[#^/checkout/cart/updateCouponPost/#]]></from>
				<to>/bevellogin/cart/couponPost/</to>
			</pixafy_bevel_cart_couponPost>
			<pixafy_bevel_contacts_post>
				<from><![CDATA[#^/contacts/index/post/#]]></from>
				<to>/bevellogin/contacts/post/</to>
			</pixafy_bevel_contacts_post>
			<pixafy_bevel_account_createPost>
				<from><![CDATA[#^/customer/account/createpost/#]]></from>
				<to>/bevellogin/account/createPost/</to>
			</pixafy_bevel_account_createPost>
         </rewrite>
		 <events>
            <customer_session_init>
                <observers>
                    <bevel_check_cart>
                        <type>singleton</type>
                        <class>bevel/observer</class>
                        <method>CheckUser</method>
                    </bevel_check_cart>
					<bevel_popup_frequency>
						<type>singleton</type>
                        <class>bevel/observer</class>
                        <method>setFrequency</method>
					</bevel_popup_frequency>
                </observers>
            </customer_session_init>
        </events>		
	</global>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
						<system>
							<children>
								<config>
									<children>
										<bevel>
											<title>Shop Bevel</title>
										</bevel>
									</children>
								</config>
							</children>
						</system>
                    </children>
                </admin>
            </resources>   
        </acl>
    </adminhtml>
	<crontab>
        <jobs>
            <newcustomeremails>
                <schedule>
                    <cron_expr>0 12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bevel/observer::sendCustomerEmails</model>
                </run>
            </newcustomeremails>
        </jobs>
    </crontab>
</config>
