<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_Pixvote>
			<version>1.2.1</version>
		</Pixafy_Pixvote>
	</modules>
	<admin>
		<routers>
			<adminhtml>
                <args>
                    <modules>
                        <pixvote before="Mage_Adminhtml">Pixafy_Pixvote_Adminhtml</pixvote>
                    </modules>
                </args>
            </adminhtml>
		</routers>
		<layout>
			<updates>
				<pixvote>
						<file>pixvote.xml</file>
				</pixvote>
			</updates>
		</layout>
	</admin>
	<frontend>
		<routers>
			<pixvote>
				<use>standard</use>
				<args>
					<module>Pixafy_Pixvote</module>
					<frontName>challenges</frontName>
				</args>
			</pixvote>
		</routers>
		<layout>
			<updates>
				<pixvote>
						<file>pixvote.xml</file>
				</pixvote>
			</updates>
		</layout>
	</frontend>
	<global>
		 <models>
            <pixvote>
                <class>Pixafy_Pixvote_Model</class>
				<resourceModel>pixvote_mysql4</resourceModel>
            </pixvote>
			<pixvote_mysql4>
				<class>Pixafy_Pixvote_Model_Mysql4</class>
				<entities>
					<designs>
						<table>pixafy_designs</table>
					</designs>
					<comments>
						<table>pixafy_design_comments</table>
					</comments>	
					<votes>
						<table>pixafy_design_votes</table>
					</votes>	
					<status>
						<table>pixafy_design_status</table>
					</status>	
					<images>
						<table>pixafy_design_images</table>
					</images>	
					<challenges>
						<table>pixafy_design_challenges</table>
					</challenges>	
					<itemtypes>
						<table>pixafy_design_item_types</table>
					</itemtypes>	
					<follow>
						<table>pixafy_design_follow</table>
					</follow>	
					<studioimages>
						<table>pixafy_studio_images</table>
					</studioimages>	
					<rejections>
						<table>pixafy_design_rejections</table>
					</rejections>	
					<designviews>
						<table>pixafy_design_views</table>
					</designviews>	
					<designsources>
						<table>pixafy_design_sources</table>
					</designsources>	
					<designtips>
						<table>pixafy_design_tips</table>
					</designtips>
					<designshares>
						<table>pixafy_design_shares</table>
					</designshares>	
					<tracking>
						<table>pixafy_tracking</table>
					</tracking>	
				</entities>
			</pixvote_mysql4>
			<customer>
				<rewrite>
					<customer>Pixafy_Pixvote_Model_Customer</customer>
				</rewrite>
			</customer>
		</models>
		<blocks>
            <pixvote>
				<class>Pixafy_Pixvote_Block</class>
            </pixvote>
			<core>
				<rewrite>
					<template>Pixafy_Pixvote_Block_Template</template>
				</rewrite>
			</core>
			 <adminhtml>
                <rewrite>
                    <customer_grid>Pixafy_Pixvote_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
		<helpers>
            <pixvote>
				<class>Pixafy_Pixvote_Helper</class>
			</pixvote>
        </helpers>	
		<resources>
            <pixvote_setup>
                <setup>
					<class>Mage_Eav_Model_Entity_Setup</class>
                    <module>Pixafy_Pixvote</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pixvote_setup>
            <pixvote_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pixvote_write>
            <pixvote_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pixvote_read>
        </resources>
		<events>
			<pixafy_pixvote_entry_saved>
				<observers>
					<pixvote_save_images>
						<type>singleton</type>
						<class>pixvote/observer</class>
						<method>saveEntryImages</method>
					</pixvote_save_images>
					<pixvote_delete_images>
						<type>singleton</type>
						<class>pixvote/observer</class>
						<method>deleteEntryImages</method>
					</pixvote_delete_images>
				</observers>
			</pixafy_pixvote_entry_saved>
			<pixafy_pixvote_designer_saved>
				<observers>
					<pixvote_update_catagory>
						<type>singleton</type>
						<class>pixvote/observer</class>
						<method>updateCategory</method>
					</pixvote_update_catagory>			
				</observers>
			</pixafy_pixvote_designer_saved>
			<pixafy_pixvote_designer_saveProfileImage>
				<observers>
					<pixvote_update_catagory_thumbnail>
						<type>singleton</type>
						<class>pixvote/observer</class>
						<method>updateCategoryThumbnail</method>
					</pixvote_update_catagory_thumbnail>
				</observers>
			</pixafy_pixvote_designer_saveProfileImage>
			<customer_session_init>
                <observers>
                    <pixvote_tracking>
                        <type>singleton</type>
                        <class>pixvote/observer</class>
                        <method>CheckForTracking</method>
                    </pixvote_tracking>
                </observers>
            </customer_session_init>
        </events>	
	</global>
	<adminhtml>
        <acl>
            <resources>
			 <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
						<system>
							<children>
								<config>
									<children>
										<pixvote>
											<title>Voting</title>
										</pixvote>
									</children>
								</config>
							</children>
						</system>
                    </children>
                </admin>
            </resources>   
        </acl>
		<menu>
			<pixvotemenu>
				<title>Submissions</title>
				 <sort_order>100</sort_order>
				<children>
					<view_entries>
						<title>View Entries</title>
						<action>adminhtml/entry/index</action>
					</view_entries>
					<vote>
						<title>Create Entry</title>
						<action>adminhtml/entry/new</action>
					</vote>
					<item_types_view>
						<title>View item types</title>
						<action>adminhtml/itemtypes/index</action>
					</item_types_view>
					<item_types_new>
						<title>Create Item type</title>
						<action>adminhtml/itemtypes/new</action>
					</item_types_new>
					<design_sources_view>
						<title>View submission sources</title>
						<action>adminhtml/designsources/index</action>
					</design_sources_view>
					<design_sources_new>
						<title>Create submission source</title>
						<action>adminhtml/designsources/new</action>
					</design_sources_new>
				</children>
			</pixvotemenu>
			<pixvotemenuchallenges>
				<title>Challenges</title>
				 <sort_order>100</sort_order>
				<children>
					<view_challenges>
						<title>View Challenges</title>
						<action>adminhtml/challenges/index</action>
					</view_challenges>
					<edit_challenge>
						<title>Create Challenge</title>
						<action>adminhtml/challenges/new</action>
					</edit_challenge>
					<challenge_votes>
						<title>View Votes</title>
						<action>adminhtml/votes/index</action>
					</challenge_votes>
				</children>
			</pixvotemenuchallenges>
			<pixvotemenuedesigners>
				<title>Designers</title>
				 <sort_order>100</sort_order>
				<children>
					<view_designers>
						<title>View Designers</title>
						<action>adminhtml/designers/index</action>
					</view_designers>
					<view_designtips>
						<title>View Design Tips</title>
						<action>adminhtml/designtips/index</action>
					</view_designtips>
				</children>
			</pixvotemenuedesigners>
			<pixvotemenutracking>
				<title>A/B Testing</title>
				 <sort_order>100</sort_order>
				<children>
					<view_tracking>
						<title>View Stats</title>
						<action>adminhtml/tracking/index</action>
					</view_tracking>
				</children>
			</pixvotemenutracking>
		</menu>
		        <layout>
            <updates>
                <pixvote>
                    <file>pixvote.xml</file>
                </pixvote>
            </updates>
        </layout>
    </adminhtml>
		<crontab>
        <jobs>
            <preparetowin>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pixvote/observer::sendPrepareToWinEmail</model>
                </run>
            </preparetowin>
			<voteinsession>
				<schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pixvote/observer::sendInSessionEmail</model>
                </run>
			</voteinsession>
			<profilenotdone>
				<schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pixvote/observer::sendProfileNotDoneEmail</model>
                </run>
			</profilenotdone>
			<dailystats>
				<schedule>
                    <cron_expr>0 12 * * mon-fri</cron_expr>
                </schedule>
                <run>
                    <model>pixvote/observer::sendDailyStatsEmail</model>
                </run>
			</dailystats>
        </jobs>
    </crontab>
</config>
