<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_Pixlikes>
			<version>1.0.0</version>
		</Pixafy_Pixlikes>
	</modules>
	<frontend>
		<routers>
			<Pixafy_pixlikes>
				<use>standard</use>
				<args>
					<module>Pixafy_Pixlikes</module>
					<frontName>productlikes</frontName>
				</args>
			</Pixafy_pixlikes>
		</routers>
	</frontend>
	<global>
		 <models>
            <pixlikes>
                <class>Pixafy_Pixlikes_Model</class>
				<resourceModel>pixlikes_mysql4</resourceModel>
            </pixlikes>
			<pixlikes_mysql4>
				<class>Pixafy_Pixlikes_Model_Mysql4</class>
				<entities>
					<productlikes>
						<table>pixafy_product_likes</table>
					</productlikes>	
				</entities>
			</pixlikes_mysql4>
		</models>
		<blocks>
            <pixlikes>
				<class>Pixafy_Pixlikes_Block</class>
            </pixlikes>
        </blocks>
		<helpers>
            <pixlikes>
				<class>Pixafy_Pixlikes_Helper</class>
			</pixlikes>
        </helpers>
			<resources>
            <pixlikes_setup>
                <setup>
					<class>Mage_Eav_Model_Entity_Setup</class>
                    <module>Pixafy_Pixlikes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pixlikes_setup>
            <pixlikes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pixlikes_write>
            <pixlikes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pixlikes_read>
        </resources>
	</global>
</config>
