<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_CIM>
			<version>1.1.0</version>
		</Pixafy_CIM>
	</modules>
	<frontend>
		<layout>
			<updates>
				<cim>
					<file>cim.xml</file>
				</cim>
			</updates>
		</layout>
		<routers>
			<pixafy_cim>
				<use>standard</use>
				<args>
					<module>Pixafy_CIM</module>
					<frontName>cim</frontName>
				</args>
			</pixafy_cim>
		</routers>
        <events>
            <customer_login>
                <observers>
                    <pixafy_save_customer_data>
                        <type>singleton</type>
                        <class>Pixafy_CIM_Model_Observer</class>
                        <method>createCimProfile</method>
                    </pixafy_save_customer_data>
                </observers>
            </customer_login>
        </events>		
	</frontend>
	<admin>
		<routers>
			<cim>
				<use>admin</use>
				<args>
					<module>Pixafy_CIM</module>
					<frontName>cim</frontName>
				</args>
			</cim>
		</routers>
	</admin>
	<global>
		<events>
            <sales_order_place_after>
                <observers>
                    <pixafy_save_customer_data>
                        <type>singleton</type>
                        <class>Pixafy_CIM_Model_Observer</class>
                        <method>saveCreditCard</method>
                    </pixafy_save_customer_data>
                </observers>
            </sales_order_place_after>
            <customer_save_after>
                <observers>
                    <pixafy_save_customer_data>
                        <type>singleton</type>
                        <class>Pixafy_CIM_Model_Observer</class>
                        <method>createCimProfile</method>
                    </pixafy_save_customer_data>
                </observers>
            </customer_save_after>
		</events>
		<helpers>
			<cim>
				<class>Pixafy_CIM_Helper</class>
			</cim>
		</helpers>
		<blocks>
			<cim>
				<class>Pixafy_CIM_Block</class>
			</cim>
		</blocks>
		<models>
			<cim>
				<class>Pixafy_CIM_Model</class>
				<resourceModel>cim_mysql4</resourceModel>
			</cim>
			<cim_mysql4>
				<class>Pixafy_CIM_Model_Mysql4</class>
				<entities>
					<paymentprofiles>
						<table>cim_paymentprofiles</table>
					</paymentprofiles>
				</entities>
			</cim_mysql4>
		</models>
		 <resources>
			<cim_setup>
				<setup>
					<module>Pixafy_CIM</module>
					<class>Pixafy_CIM_Model_Resource_Mysql4_Setup</class>
				</setup>
			</cim_setup>
			<connection>
				<use>core_setup</use>
			</connection>
			<paymentprofiles_setup>
				<setup>
					<module>Pixafy_CIM</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</paymentprofiles_setup>
			<paymentprofiles_write>
				<connection>
					<use>core_write</use>
				</connection>
			</paymentprofiles_write>
			<paymentprofiles_read>
				<connection>
					<use>core_read</use>
				</connection>
			</paymentprofiles_read>
		 </resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<cim>
					<file>cim.xml</file>
				</cim>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Pixafy_CIM>
							<title>CIM</title>
							<sort_order>10</sort_order>
						</Pixafy_CIM>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
