<?xml version="1.0"?>
<config>
	<modules>
		<Pixafy_ImageSlider>
			<version>1.0.1</version>
		</Pixafy_ImageSlider>
	</modules>
	<frontend>
		<!--
		<layout>
			<updates>
				<imageslider>
					<file>imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
		-->
		<routers>
			<pixafy_imageslider>
				<use>standard</use>
				<args>
					<module>Pixafy_ImageSlider</module>
					<frontName>imageslider</frontName>
				</args>
			</pixafy_imageslider>
		</routers>
	</frontend>
	<admin>
		<routers>
			<imageslider>
				<use>admin</use>
				<args>
					<module>Pixafy_ImageSlider</module>
					<frontName>imageslider</frontName>
				</args>
			</imageslider>
		</routers>
	</admin>
	<global>
	<helpers>
		<imageslider>
			<class>Pixafy_ImageSlider_Helper</class>
		</imageslider>
	</helpers>
	<blocks>
		<imageslider>
			<class>Pixafy_ImageSlider_Block</class>
		</imageslider>
	</blocks>
        <models>			
            <imageslider>
                <class>Pixafy_ImageSlider_Model</class>
                <resourceModel>imageslider_mysql4</resourceModel>
            </imageslider>
            <imageslider_mysql4>
                <class>Pixafy_ImageSlider_Model_Mysql4</class>
                <entities>
                    <images>
                        <table>imageslider_images</table>
                    </images>
                    <sliders>
                        <table>imageslider_sliders</table>
                    </sliders>                    
                </entities>
            </imageslider_mysql4>
        </models>
        <resources>
			<imageslider_setup>
				<setup>
					<module>Pixafy_ImageSlider</module>
                </setup>
				<connection>
					<use>core_setup</use>
				</connection>                
			</imageslider_setup>
            <imageslider_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </imageslider_write>
            <imageslider_read>
               <connection>
                <use>core_read</use>
              </connection>
            </imageslider_read>
         </resources>
</global>
	<adminhtml>
		<layout>
			<updates>
				<imageslider>
					<file>imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Pixafy_ImageSlider>
							<title>ImageSlider</title>
							<sort_order>10</sort_order>
						</Pixafy_ImageSlider>
						<system>
							<children>
								<config>
									<children>
										<imageslider>
											<title>ImageSlider</title>
										</imageslider>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <menu>
            <imageslider translate="title" module="adminhtml">
                <title>Pixafy</title>
                <sort_order>100</sort_order>
                <children>
                    <managesliders module="adminhtml" translate="title">
                        <title>Manage Sliders</title>
                        <sort_order>2</sort_order>
                        <action>imageslider/manage</action>
                    </managesliders>                                   
                </children>
            </imageslider>	
		</menu>
	</adminhtml>
</config>
